<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
    <link rel="stylesheet" th:href="@{/css/adminPage.css}">
</head>
<body>

<div class="container">
    <h1>Сменить пароль пользователю</h1>

    <form id="changePasswordForm">
        <label for="login">Логин пользователя:</label>
        <input id="login" required type="text">

        <label for="newPassword">Новый пароль:</label>
        <input id="newPassword" required type="password">

        <button type="submit">Сменить пароль</button>
    </form>

    <p id="passwordMessage"></p>

    <a class="main-menu-btn" href="/">Главное меню</a>
</div>

<script th:src="@{/js/changePassword.js}"></script>
</body>
</html>
