<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
    <link rel="stylesheet" th:href="@{/css/adminPage.css}">
</head>
<body>

<div class="container">
    <h1>Сменить пароль пользователю</h1>

    <form id="changePasswordForm">
        <label for="login">Логин пользователя:</label>
        <input type="text" id="login" required>

        <label for="newPassword">Новый пароль:</label>
        <input type="password" id="newPassword" required>

        <button type="submit">Сменить пароль</button>
    </form>

    <p id="passwordMessage"></p>

    <a href="/" class="main-menu-btn">Главное меню</a>
</div>

<script th:src="@{/js/changePassword.js}"></script>
</body>
</html>
