<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Оценки</title>
    <link rel="stylesheet" th:href="@{/css/grades.css}">
</head>
<body>
<h1>Оценки</h1>

<a class="main-menu-btn" href="/home" th:href="@{/home}">На главную</a>

<form id="gradesForm">
    <label for="subject">Предмет:</label>
    <select id="subject" name="subjectId">
        <option th:each="subject : ${subjects}"
                th:text="${subject.name}"
                th:value="${subject.id}"></option>
    </select>

    <div th:if="${isTeacher}">
        <label for="group">Группа:</label>
        <select id="group" name="groupId">
            <option th:each="group : ${groups}"
                    th:text="${group.name}"
                    th:value="${group.id}"></option>
        </select>
    </div>

    <button type="submit">Показать оценки</button>
</form>

<div id="grades-container">
</div>

<script th:src="@{/js/grades.js}"></script>
</body>
</html>