<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<div class="logout-container">
    <a href="/logout" class="logout-btn">Выйти</a>
</div>

<h1 th:text="'Добро пожаловать, ' + ${username} + '!'"></h1>

<!-- Блок для админа -->
<div class="block" th:if="${isAdmin}">
    <h2>Админский блок</h2>
    <a href="/lesson/create">Создать занятие</a><br>
    <a href="/create/teacher">Создание учителя</a> <br>
    <a href="/create/subject">Управление предметами</a>
</div>

<!-- Блок для преподавателя -->
<div class="block" th:if="${isTeacher}">
    <h2>Преподавательский блок</h2>
    <a href="/grade/page">Оценки студентов</a><br>
    <a href="/grade/create">Поставить оценку</a> <br>
    <a href="/attendance/create">Посещаемость</a>

</div>

<!-- Блок для студента -->
<div class="block" th:if="${isStudent}">
    <h2>Студенческий блок</h2>
    <a href="/grade/page">Мои оценки</a><br>
    <a href="/schedule/page">Расписание</a><br>
    <a href="/attendance/page">Посещаемость</a><br>
    <a href="/student/report">Отчет</a>
</div>

</body>
</html>
