<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
</head>
<body>
<div class="container">
    <h1>Регистрация</h1>

    <div class="message" th:if="${message}" th:text="${message}"></div>

    <form th:action="@{/registration}" method="post" autocomplete="off">
        <input type="text" style="display:none" autocomplete="username">
        <input type="password" style="display:none" autocomplete="new-password">

        <label>ФИО:
            <input type="text" name="fullName" required autocomplete="name"/>
        </label>

        <label>Логин:
            <input type="text" name="login" required autocomplete="username"/>
        </label>

        <label>Пароль:
            <input type="password" name="password" required autocomplete="new-password"/>
        </label>

        <input type="submit" value="Зарегистрироваться"/>
    </form>
</div>
</body>
</html>
