<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
</head>
<body>
<div class="container">
    <h1>Регистрация</h1>

    <div class="message" th:if="${message}" th:text="${message}"></div>

    <form autocomplete="off" method="post" th:action="@{/registration}">
        <input autocomplete="username" style="display:none" type="text">
        <input autocomplete="new-password" style="display:none" type="password">

        <label>ФИО:
            <input autocomplete="name" name="fullName" required type="text"/>
        </label>

        <label>Логин:
            <input autocomplete="username" name="login" required type="text"/>
        </label>

        <label>Пароль:
            <input autocomplete="new-password" name="password" required type="password"/>
        </label>

        <input type="submit" value="Зарегистрироваться"/>
    </form>
</div>
</body>
</html>
